/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 4, 2015, 6:30:45 PM
    Author     : Frankie Claessens
	Update     : Rudy Mas
*/

body {
	background-color: black;
	font-family: 'Verdana';
	font-size: 10px;
	text-align: center;
}
main header, nav, section, div, article, footer {
	background-color: white;
	border-radius: 10px;
	margin: 15px;
	padding: 10px;
	overflow: hidden;
}
h1 {
	font-weight: bold;
	font-size: 20px;
	font-family: 'Verdana';
}
nav li {
	list-style: none;
}
a {
	display: inline-block;
	padding: 5px 15px;
	font-size: 14px;
	color: black;
	text-decoration: none;
}
a:hover {
	color: white;
	background-color: black;
}

header {
	text-align: center;
}
#links {
	float: left;
	width: 200px;
	margin-top: 0px;
}
#rechts {
	float: right;
	width: 200px;
	margin-top: 0px;
}
article {
	margin-left: 220px;
	margin-right: 220px;
}
footer {
	clear:both;
	text-align: center;
	vertical-align: middle;
}
