/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 2, 2015, 10:55:04 AM
    Author     : Fraa
*/

p#hand {
    cursor: pointer;
}
p#crosshair {
    cursor: crosshair;
}

span#questionmark {
    cursor: help;
}

a {
    text-decoration: none;
}