/Week2/Oef01/Oef01/nbproject/private/
/Week2/Oef02/Week_02_Oef02/nbproject/private/
/Week2/Oef03/Week_02_Oef03/nbproject/private/
/Week3/Oef01/Week_03_Oef01/nbproject/private/
/Week3/Oef02/Week_03_Oef02/nbproject/private/
/Week3/Oef04/Week_04_Oef04/nbproject/private/