body {
    background-color: black;
    color:white;
}

p{
    display: inline;
}

table{
    background-color:#222;
    border-color:white;
    border-style:solid;
    border-width:3px;
}

td{
    text-align:center;
}

#bus, #nummer{
    width:150px;
}

input{
    margin:20px;
    width:400px;
}

button{
    
    background-color:#111;
    color:white;
    width:500px;
    height:50px;
    margin:20px;
}
