/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 28, 2015, 11:50:15 AM
    Author     : Fraa
*/
body{
    background-color:black;
}

#Links {
    position:relative;
    width:25%;
    float: left;
}

#ImageList {
    list-style: none;
    position:relative;    
    float:left;
}

#ImageList img{
    width:80%;
}

#TitelAfbeeldingen{
    text-align: center;
    color:lightgray;
}

#center {
    position:relative;
    float:left;
    width:70%;
    height:600px;
}

#centertext{
    position:relative;
    float:left;
    height:100%;
    width:100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url('figuren/10000bc.jpg');
    text-align: center;
    padding-top:3em;
}